* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: "Circular Std", sans-serif;
    background: #ffffff;
}

p,a{
    color: black;
}
